<h2>(1) Use:</h2>
a. TypeScript, Angular, Material UI, Postgres, and Google/MS AI translation. Extra credit for using ngrx or other reactive store for the translate button. <p style="color:blue"><b>Completed</b></p><br>
b. GitHub usage for repository management.<p style="color:blue"><b>Completed</b></p><br>
c. Deployment to Google Cloud. Extra credit for using GitHub Actions, that is, CI/CD on code push to master.<p style="color:blue"><b>Completed</b></p><br>
d. Running automated tests. Extra credit for also having UI testing.<p style="color:blue"><b>Completed</b></p><br><br>

<h2>(2) Workflow requirement:</h2>
a. Live app deployed on the internet so we can test it works.<p style="color:blue"><b>Completed</b></p><br>
b. We will signup and login.<p style="color:blue"><b>Completed</b></p><br>
c. We will add an item to to-do, click a button to translate it and logout.<p style="color:blue"><b>Completed</b></p><br>
d. Have a normal UI for users, where they can add list items and click the translate button.<p style="color:blue"><b>Completed</b></p><br>
e. Have an admin UI, showing a list of all users and clicking on a user should show their history of usage and if they have clicked the translate button.<p style="color:blue"><b>Completed</b></p><br><br>

