<!-- This code snippet is part of a Material Design toolbar. 
The toolbar has a color of "accent" and contains two links, one for logging in and another for signing up. 
If the user is already authenticated, then the login link is replaced by a logout link. The routerLinkActive directive is used to highlight the active link. 
25/02/2023 Indika Sirimanna-->
<mat-toolbar color="accent">
    <span>
      <a routerLink="/">
        <span>ToDoApp © Sam</span>
      </a>
    </span>
    <span>

      <a
        *ngIf="!isAuthenticated"
        routerLinkActive="active-link"
        routerLink="/login"
      >
        <span>Login</span>
      </a>
      <a
        *ngIf="isAuthenticated"
        (click)="logout()"
        routerLinkActive="active-link"
        routerLink="/login"
      >
        <span>Logout</span>
      </a>
      <a
        *ngIf="!isAuthenticated"
        routerLinkActive="active-link"
        routerLink="/signup"
      >
        <span>Signup</span>
      </a>
    </span>
  </mat-toolbar>
  